@use '../../styles/main.scss' as *;

.configPanel {
    .serialPort {
        @include flex(row, space-between, center, spacing(2));

        .serialField {
            flex-grow: 1;

            button {
                width: 10rem;
            }
        }
    }
}

.item {
    @include flex(row, space-between, center, spacing(2));

    .connected {
        color: $colorLime500;
    }

    .disconnected {
        color: $colorRed500;
    }
}