@use '../../styles/main.scss' as *;

.navbar {
    @include flex(row, space-between, center);

    ul {
        display: flex;
    }
}

.stretched {
    width: 100%;
    justify-content: flex-start;
}