@use '../../styles/main.scss' as *;

.telemetryTable {
    .telemetryValue {
        padding-right: 0.5rem !important;
        text-align: right;
    }

    .telemetryUnit {
        width: 1%;

        .connected {
            height: 1rem;
            color: $colorLime500;
        }

        .disconnected {
            height: 1rem;
            color: $colorRed500;
        }
    }
}